.tweet-info {
	font-size: 0.9em;
}

.name {
	font-weight: 600;
}

.handle {
	padding-left: 4px;
	color: #92949c;
}

.wrapper {
	border-bottom: 1px solid #f1f1f1;
}

.highlight {
	color: #3880ff;
}

.preview-img {
	border: 1px solid #f1f1f1;
	border-radius: 10px;
}
