<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button>
				<ion-icon name="menu-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>
			<ion-icon name="logo-twitter" color="primary" size="large"></ion-icon>
		</ion-title>
		<ion-buttons slot="end">
			<ion-button>
				<ion-icon name="pulse-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-segment [(ngModel)]="segment" value="home" mode="md">
		<ion-segment-button value="home">
			<ion-label>Home</ion-label>
		</ion-segment-button>
		<ion-segment-button value="content">
			<ion-label>TimeLine</ion-label>
		</ion-segment-button>
	</ion-segment>

	<ion-slides [options]="slideOptions" mode="md">
		<ion-slide *ngFor="let user of (users | async)">
			<ion-avatar>
				<img [src]="user.img" />
			</ion-avatar>
		</ion-slide>
	</ion-slides>

	<div *ngIf="segment === 'home'">
		<app-tweet *ngFor="let item of (tweets | async)" [tweet]="item"></app-tweet>
	</div>
	<div *ngIf="segment === 'content'">
		<p>Content</p>
	</div>
</ion-content>
